@font-face {
  font-family: Stratos-Regular;
  src: url("./font/Stratos-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* About Header CSS */
.about_header {
  position: relative;
  padding: 150px 0px;
  background-image: url("../../img/backgroundImg/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  z-index: 70;
}
.section_heading__ {
  color: var(--white-color);
}
.section_heading__::before {
  content: initial;
}

.about_header .about_heading {
  color: rgb(255, 255, 255);
  padding: 6rem 5rem;
  position: relative;
  background-color: rgb(11 3 38 / 23%);
  background-image: linear-gradient(
    rgb(24 4 61 / 67%),
    rgb(11 3 38 / 78%) 11%,
    rgb(11 3 38 / 60%) 67%,
    rgb(0 0 0 / 16%)
  );
}
.about_heading::before,
.about_heading::after {
  content: "";
  width: 0.2rem;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--custom-purple-color);
}
.about_heading::before {
  left: 0;
}
.about_heading::after {
  right: 0;
}

.highlighted_link {
  color: #53e615 !important;
  text-decoration: underline;
  font-weight: bold;
}

.highlighted_link:hover {
  color: #007bff !important;
}
/* About Content CSS */
.about_content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(rgb(4, 4, 4) 0%, rgba(0, 0, 0, 0.98) 100%) 0% 0% /
    cover;
}
.about_content .section_heading__ {
  margin-bottom: 2rem;
  margin-top: 5rem;
  font-size: 3.2rem;
  color: var(--white-color);
  opacity: 0.9 !important;
}
.about_content article p,
.about_content article h2,
.about_content article blockquote {
  color: var(--custom-purple-color);
}

.about_content em {
  font-family: var(--manrope-font);
  font-style: italic;
  font-weight: bold;
  color: rgb(0 255 168 / 90%);

  text-decoration: underline;
  opacity: 0.9;
  display: inline-block;
}
.about_content .explore_more {
  margin-top: 2rem;
}
.fancy_list {
  list-style-type: none;
  padding: 0;
  margin-left: 4rem;
}

.fancy_list li,
.fancy_list + p {
  font-family: var(--manrope-font);
  font-weight: 500;
  font-style: normal;
  margin-bottom: 10px;
  position: relative;
  color: var(--custom-purple-color);
  opacity: 0.8;
}
.fancy_list + p {
  margin-top: 2rem;
}
.fancy_list li:before {
  content: "\2022";
  color: #007bff;
  font-size: 1.2em;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
