.getting_started_container .getting_started_header em {
  font-family: var(--manrope-font);
  font-style: italic;
  font-weight: bold;
  color: rgb(0 255 168 / 90%);
  text-decoration: underline;
  opacity: 0.9;
  display: inline-block;
}
.getting_started_content ol.fancy_list {
  list-style-type: decimal;
}
.getting_started_content ol.fancy_list li::before {
  content: none;
}
